.Conatiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    gap: 100px;
}
.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}
.perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #ccc;
    width: 40px;
   height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.img{
   width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}