.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color:  rgb(241, 241, 241);
}
.feed{
    margin-top: 70px;
    width: 30vw;
    height: 100%;
}