.body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color:  rgb(241, 241, 241);
}
.feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 30vw;
    height: 100%;
    background-color: aqua;
}