

.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 455px;
    z-index: 1;
    gap: 2px;
    width: 75px;
    height: auto;
    position: absolute;
    /* top: 0; */
    background-color: white;
    border-radius: 10px;
    border: 0.5px solid #ccc;

}

.ConatinerUser {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 80%;
    height: 25px;
    padding:  5px;
    padding-left: 10px;
    cursor: pointer;
    gap: 5px;
    transition: all 0.3s ease;
    border-radius: 10%;
    /* text-align: center; */

    &:hover {
        background-color: #e0e0e0;

    }
}

.verPerfil {
    font-size: 12px;
}

.ConatinerLogOut {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 80%;
    height: 25px;
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
    gap: 5px;
    transition: all 0.3s ease;
    border-radius: 10%;

    &:hover {
        background-color: #e0e0e0;
    }
}

.LogOut {
    font-size: 12px;
    color: red;
}

.imgicon {
    width: 15px;
    height: 15px;
}

.imgiconLogOut {
    width: 20px;
    height: 20px;
}